<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cosas feas del edificio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cosas-feas</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-fab slot="fixed" horizontal="end" vertical="bottom" style="margin-bottom: 80px;">
  <ion-fab-button color="warning">
    <img src="assets/images/add-photo.png" alt="agregar-foto">
  </ion-fab-button>
</ion-fab>
<app-navegacion [tabActual]="'feas'"></app-navegacion>
