ion-content,ion-header,ion-toolbar{
    --background: rgb(223, 147, 147);
}

.principal{
  position: relative;
  z-index: 9999;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}