ion-content,ion-header,ion-toolbar{
    --background: rgb(223, 147, 147);
}
// .principal {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   //height: 100vh;
//   overflow-y: scroll;
//   scrollbar-width: thin;
//   scrollbar-color: transparent transparent;
// }

// .principal::-webkit-scrollbar {
//   width: 6px;
// }

// .principal::-webkit-scrollbar-track {
//   background-color: transparent;
// }

// .principal::-webkit-scrollbar-thumb {
//   background-color: transparent;
// }

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

.card{
  //background-color: rgb(56 49 58);;
  //box-shadow: 0px 0px 2px 7px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;    
  flex-direction: column;
  color: whitesmoke;
}

ion-card{
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;    
  flex-direction: column;
  img{
      object-fit: cover;
      height: 180px;
  }
}

ion-card-header{
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  padding: 10px;
}

.background-image {
  top: 0;
  left: 0;
  width: 100%;
  //height: 100%;
  // background-image: url('/assets/edificios.jpg');
  // background-repeat: no-repeat;
  // background-size: cover;
  // z-index: -1;
}

.main-container{  
  padding: 20px;
}

.contenedor{  
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //position: relative;
  //z-index: 9999;
  //overflow-y: scroll;
  //scrollbar-width: thin;
  //scrollbar-color: transparent transparent;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
}